 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('images/evenement_entreprise_salle_reunion_ocw_1-1400x900.jpg');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 571px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 60px 585px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 21px 570px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 385px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 370px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 0% 40.08%;
    background-size: 125%;
  }

  .u-section-1 .u-text-1 {
    margin-right: 165px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 150px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 23.67% 42.79%;
    background-size: auto 125%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 492px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 190px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    width: auto;
    margin-right: 145px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 45.45% 41.07%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 387px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 125px;
    margin-right: 58px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
} .u-section-2 {
  background-image: none;
  min-height: 3231px;
}

.u-section-2 .u-group-1 {
  min-height: 1340px;
  height: auto;
  margin-top: 0;
  margin-bottom: 60px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-weight: 700;
  margin: 115px auto 0 20px;
}

.u-section-2 .u-list-1 {
  grid-template-rows: repeat(3, auto);
  width: 1140px;
  margin: 55px auto -1428px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 1676px;
  grid-gap: 20px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  height: 258px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin-top: 13px;
  margin-bottom: 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 27px 0 0;
}

.u-section-2 .u-icon-1 {
  font-size: 1.2778em;
  margin-right: 9px;
  vertical-align: 0px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 19px 0 0;
}

.u-section-2 .u-text-4 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  height: 258px;
  margin-top: 13px;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  object-position: 39.11% 50%;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 27px 0 0;
}

.u-section-2 .u-icon-2 {
  font-size: 1.2778em;
  vertical-align: 0px;
  margin-right: 9px;
}

.u-section-2 .u-text-6 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  text-transform: none;
  margin: 19px 0 0;
}

.u-section-2 .u-text-7 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  height: 258px;
  margin-top: 13px;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  object-position: 50% 36.39%;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  margin: 27px 0 0;
}

.u-section-2 .u-icon-3 {
  font-size: 1.2778em;
  margin-right: 3px;
  vertical-align: 0px;
}

.u-section-2 .u-text-9 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  text-transform: none;
  margin: 19px 0 0;
}

.u-section-2 .u-text-10 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-image-4 {
  height: 258px;
  margin-top: 13px;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  object-position: 50% 64.85%;
}

.u-section-2 .u-text-11 {
  font-weight: 700;
  margin: 27px 0 0;
}

.u-section-2 .u-icon-4 {
  font-size: 1.2778em;
  vertical-align: 0px;
  margin-right: 9px;
}

.u-section-2 .u-text-12 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  text-transform: none;
  margin: 19px 0 0;
}

.u-section-2 .u-text-13 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-5 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-image-5 {
  height: 258px;
  margin-top: 13px;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  object-position: 46.89% 50%;
}

.u-section-2 .u-text-14 {
  font-weight: 700;
  margin: 27px 0 0;
}

.u-section-2 .u-icon-5 {
  font-size: 1.2778em;
  vertical-align: 0px;
  margin-right: 9px;
}

.u-section-2 .u-text-15 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  text-transform: none;
  margin: 19px 0 0;
}

.u-section-2 .u-text-16 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-6 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px;
}

.u-section-2 .u-image-6 {
  height: 258px;
  margin-top: 13px;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-text-17 {
  font-weight: 700;
  margin: 27px 0 0;
}

.u-section-2 .u-icon-6 {
  font-size: 1.2778em;
  margin-right: 9px;
  vertical-align: 0px;
}

.u-section-2 .u-text-18 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  text-transform: none;
  margin: 19px 0 0;
}

.u-section-2 .u-text-19 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-7 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px;
}

.u-section-2 .u-image-7 {
  height: 258px;
  margin-top: 13px;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-text-20 {
  font-weight: 700;
  margin: 27px 0 0;
}

.u-section-2 .u-icon-7 {
  font-size: 1.2778em;
  margin-right: 9px;
  vertical-align: 0px;
}

.u-section-2 .u-text-21 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  text-transform: none;
  margin: 19px 0 0;
}

.u-section-2 .u-text-22 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-8 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-9 {
  padding: 30px;
}

.u-section-2 .u-image-8 {
  height: 258px;
  margin-top: 13px;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-text-23 {
  font-weight: 700;
  margin: 27px 0 0;
}

.u-section-2 .u-icon-8 {
  font-size: 1.2778em;
  margin-right: 9px;
  vertical-align: 0px;
}

.u-section-2 .u-text-24 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  text-transform: none;
  margin: 19px 0 0;
}

.u-section-2 .u-text-25 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-9 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-10 {
  padding: 30px;
}

.u-section-2 .u-image-9 {
  height: 258px;
  margin-top: 13px;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-text-26 {
  font-weight: 700;
  margin: 27px 0 0;
}

.u-section-2 .u-icon-9 {
  font-size: 1.2778em;
  margin-right: 9px;
  vertical-align: 0px;
}

.u-section-2 .u-text-27 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  text-transform: none;
  margin: 19px 0 0;
}

.u-section-2 .u-text-28 {
  font-style: italic;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    background-position: 50% 0%;
    height: auto;
  }

  .u-section-2 .u-list-1 {
    width: 880px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 13.3333px));
    min-height: 1266px;
  }

  .u-section-2 .u-image-1 {
    height: 204px;
    margin-top: -294px;
  }

  .u-section-2 .u-image-2 {
    height: 204px;
    margin-top: 70px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 60px;
  }

  .u-section-2 .u-text-6 {
    margin-top: -70px;
  }

  .u-section-2 .u-image-3 {
    height: 188px;
    margin-top: -294px;
  }

  .u-section-2 .u-image-4 {
    height: 204px;
    margin-top: -294px;
  }

  .u-section-2 .u-image-5 {
    height: 204px;
    margin-top: -294px;
  }

  .u-section-2 .u-image-6 {
    height: 204px;
    margin-top: -294px;
  }

  .u-section-2 .u-image-7 {
    height: 204px;
    margin-top: -294px;
  }

  .u-section-2 .u-image-8 {
    height: 204px;
    margin-top: -294px;
  }

  .u-section-2 .u-image-9 {
    height: 204px;
    margin-top: -294px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 2885px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 195px;
  }

  .u-section-2 .u-list-1 {
    width: 660px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.999975px));
    min-height: 2464px;
  }

  .u-section-2 .u-image-1 {
    height: 242px;
  }

  .u-section-2 .u-image-2 {
    height: 242px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 22px;
  }

  .u-section-2 .u-text-6 {
    margin-top: -32px;
  }

  .u-section-2 .u-image-3 {
    height: 218px;
  }

  .u-section-2 .u-image-4 {
    height: 242px;
  }

  .u-section-2 .u-image-5 {
    height: 242px;
  }

  .u-section-2 .u-image-6 {
    height: 242px;
  }

  .u-section-2 .u-image-7 {
    height: 242px;
  }

  .u-section-2 .u-image-8 {
    height: 242px;
  }

  .u-section-2 .u-image-9 {
    height: 242px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 6075px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 255px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-list-1 {
    width: 520px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-image-1 {
    height: 419px;
  }

  .u-section-2 .u-image-2 {
    height: 419px;
    margin-top: 66px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -152px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 145px;
  }

  .u-section-2 .u-image-3 {
    height: 404px;
  }

  .u-section-2 .u-image-4 {
    height: 419px;
  }

  .u-section-2 .u-image-5 {
    height: 419px;
  }

  .u-section-2 .u-image-6 {
    height: 419px;
  }

  .u-section-2 .u-image-7 {
    height: 419px;
  }

  .u-section-2 .u-image-8 {
    height: 419px;
  }

  .u-section-2 .u-image-9 {
    height: 419px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 4983px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 155px;
  }

  .u-section-2 .u-list-1 {
    width: 320px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-1 {
    height: 279px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-2 {
    height: 279px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -12px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 5px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-3 {
    height: 242px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-4 {
    height: 279px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-5 {
    height: 279px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-6 {
    height: 279px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-7 {
    height: 279px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-8 {
    height: 279px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-9 {
    height: 279px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 872px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 101px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 205px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 13px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 70px;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  margin: 36px 46px 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 476px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-3 .u-image-1 {
  width: 629px;
  height: 398px;
  object-position: 50% 100%;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  margin: 31px auto 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -215px auto 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 733px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 169px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 392px;
  }

  .u-section-3 .u-image-1 {
    width: 410px;
    height: 259px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -76px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 41px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    width: 300px;
    height: 190px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -7px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 235px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 131px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }
}

.u-section-3 .u-image-1,
.u-section-3 .u-image-1:before,
.u-section-3 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-image-1.u-image-1.u-image-1:hover {
  opacity: 0.8 !important;
}

.u-section-3 .u-image-1.u-image-1.u-image-1.hover {
  opacity: 0.8 !important;
}