 .u-section-1 {
  background-image: url("images/pexels-fauxels-3184418.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 571px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 128px 556px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 30px 570px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 356px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 370px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 0% 40.08%;
    background-size: 125%;
  }

  .u-section-1 .u-text-1 {
    margin-right: 136px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 150px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 23.67% 42.79%;
    background-size: auto 125%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 492px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 190px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    width: auto;
    margin-right: 145px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 45.45% 41.07%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 387px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 125px;
    margin-right: 58px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 924px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 402px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-image-1 {
  min-height: 402px;
  background-image: url("images/image.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  min-height: 402px;
  background-image: url("images/logo_bad-1.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 782px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 331px;
  }

  .u-section-2 .u-image-1 {
    min-height: 331px;
  }

  .u-section-2 .u-image-2 {
    min-height: 331px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 628px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    min-height: 254px;
  }

  .u-section-2 .u-image-2 {
    min-height: 254px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1082px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    min-height: 381px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    min-height: 381px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 800px;
  }

  .u-section-2 .u-image-1 {
    min-height: 240px;
  }

  .u-section-2 .u-image-2 {
    min-height: 240px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 924px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 804px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 402px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  width: 234px;
  height: 244px;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 402px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  object-position: 9.62% 50%;
  width: 213px;
  height: 201px;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 402px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  object-position: 59.73% 50%;
  width: 261px;
  height: 302px;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 402px;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px 0;
}

.u-section-3 .u-image-4 {
  height: 246px;
  width: 371px;
  margin: 0 -10px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 782px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 663px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 331px;
    background-position: 50% 50%;
  }

  .u-section-3 .u-layout-cell-3 {
    background-position: 50% 50%;
    min-height: 331px;
  }

  .u-section-3 .u-layout-cell-4 {
    background-position: 50% 50%;
    min-height: 331px;
  }

  .u-section-3 .u-image-3 {
    inset: auto;
    width: 246px;
    height: 285px;
  }

  .u-section-3 .u-layout-cell-5 {
    background-position: 50% 50%;
    min-height: 331px;
  }

  .u-section-3 .u-image-4 {
    height: 203px;
    width: 306px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1000px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 254px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 254px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 254px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 390px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2560px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 381px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 381px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 381px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 585px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1692px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 240px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 240px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 240px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 368px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 924px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 311px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  margin: 0 auto;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 311px;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-4 .u-image-1 {
  width: 258px;
  height: 258px;
  margin: 0 auto;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 311px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  object-position: 9.62% 50%;
  width: 352px;
  height: 226px;
  margin: 0 auto;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 362px;
}

.u-section-4 .u-container-layout-4 {
  padding: 26px 30px;
}

.u-section-4 .u-image-3 {
  object-position: 59.73% 50%;
  width: 385px;
  height: 302px;
  margin: 0 auto;
}

.u-section-4 .u-layout-cell-5 {
  min-height: 362px;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px 0;
}

.u-section-4 .u-image-4 {
  height: 246px;
  width: 371px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 641px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 257px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 256px;
    background-position: 50% 50%;
  }

  .u-section-4 .u-layout-cell-3 {
    background-position: 50% 50%;
    min-height: 256px;
  }

  .u-section-4 .u-layout-cell-4 {
    background-position: 50% 50%;
    min-height: 298px;
  }

  .u-section-4 .u-image-3 {
    inset: auto;
    width: 246px;
    height: 285px;
  }

  .u-section-4 .u-layout-cell-5 {
    background-position: 50% 50%;
    min-height: 298px;
  }

  .u-section-4 .u-image-4 {
    height: 203px;
    width: 306px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 196px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 196px;
  }

  .u-section-4 .u-image-2 {
    width: 300px;
    height: 193px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 228px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 390px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2039px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 294px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 294px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 381px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 585px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1333px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 185px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 185px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 240px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 368px;
  }
} .u-section-5 {
  background-image: url("images/Nos-Partanaires.jpeg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 571px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 128px 12px 0 544px;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  margin: 35px 19px 60px 551px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-right: 0;
    margin-left: 356px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 370px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    background-position: 0% 40.08%;
    background-size: 125%;
  }

  .u-section-5 .u-text-1 {
    margin-left: 136px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 150px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    background-position: 23.67% 42.79%;
    background-size: auto 125%;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 492px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-right: 190px;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    font-size: 1rem;
    width: auto;
    margin-right: 145px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    background-position: 45.45% 41.07%;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 387px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 125px;
    margin-right: 58px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }
} .u-section-6 {
  background-image: none;
  min-height: 806px;
}

.u-section-6 .u-shape-1 {
  height: 503px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-6 .u-layout-wrap-1 {
  width: 1140px;
  margin: -402px auto 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 605px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 3.75rem;
}

.u-section-6 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
}

.u-section-6 .u-list-1 {
  margin-top: 39px;
  margin-bottom: 0;
}

.u-section-6 .u-repeater-1 {
  grid-auto-columns: calc(50% - 10px);
  grid-template-columns: repeat(2, calc(50% - 10px));
  min-height: 91px;
  grid-gap: 20px;
}

.u-section-6 .u-container-layout-2 {
  padding: 10px 0;
}

.u-section-6 .u-text-3 {
  line-height: 2;
  margin: 0 1px;
}

.u-section-6 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-6 .u-text-4 {
  line-height: 2;
  margin: 0 1px;
}

.u-section-6 .u-image-1 {
  min-height: 605px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url('images/pexels-pixabay-269077.jpg');
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-text-5 {
  margin: 0;
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 786px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 73px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 387px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-image-1 {
    min-height: 1092px;
  }

  .u-section-6 .u-text-5 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 487px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-6 .u-image-1 {
    min-height: 819px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-6 .u-image-1 {
    min-height: 516px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 1121px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 6px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 360px;
}

.u-section-7 .u-container-layout-1 {
  padding: 0;
}

.u-section-7 .u-text-1 {
  margin: 84px auto 0;
}

.u-section-7 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 27px;
  margin-bottom: -30px;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: repeat(5, calc(20% - 8px));
  min-height: 156px;
  grid-gap: 10px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-7 .u-image-1 {
  height: 70px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-7 .u-image-2 {
  height: 70px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px 20px;
}

.u-section-7 .u-image-3 {
  height: 70px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-container-layout-5 {
  padding: 30px 20px;
}

.u-section-7 .u-image-4 {
  height: 70px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-container-layout-6 {
  padding: 30px 20px;
}

.u-section-7 .u-image-5 {
  height: 70px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 360px;
}

.u-section-7 .u-container-layout-7 {
  padding: 0;
}

.u-section-7 .u-image-6 {
  height: 309px;
  margin-top: 23px;
  margin-bottom: 0;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 360px;
}

.u-section-7 .u-container-layout-8 {
  padding: 30px 14px;
}

.u-section-7 .u-image-7 {
  object-position: 9.62% 50%;
  width: 352px;
  height: 226px;
  margin: 0;
}

.u-section-7 .u-layout-cell-4 {
  min-height: 360px;
}

.u-section-7 .u-container-layout-9 {
  padding: 26px 30px;
}

.u-section-7 .u-image-8 {
  height: 90px;
  margin-top: 89px;
  margin-bottom: 0;
}

.u-section-7 .u-layout-cell-5 {
  min-height: 360px;
}

.u-section-7 .u-container-layout-10 {
  padding: 30px 0;
}

.u-section-7 .u-image-9 {
  height: 189px;
  width: 218px;
  margin: 72px auto 0;
}

.u-section-7 .u-layout-cell-6 {
  min-height: 360px;
}

.u-section-7 .u-container-layout-11 {
  padding: 30px 0;
}

.u-section-7 .u-image-10 {
  width: 226px;
  height: 226px;
  margin: 0 auto;
}

.u-section-7 .u-layout-cell-7 {
  min-height: 360px;
}

.u-section-7 .u-container-layout-12 {
  padding: 30px 0;
}

.u-section-7 .u-image-11 {
  width: 223px;
  height: 143px;
  margin: 0 auto;
}

.u-section-7 .u-layout-cell-8 {
  min-height: 360px;
}

.u-section-7 .u-container-layout-13 {
  padding: 30px 0;
}

.u-section-7 .u-image-12 {
  width: 232px;
  height: 228px;
  margin: 36px -4px 0 auto;
}

.u-section-7 .u-layout-cell-9 {
  min-height: 360px;
}

.u-section-7 .u-container-layout-14 {
  padding: 30px 0;
}

.u-section-7 .u-image-13 {
  height: 222px;
  width: 222px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 815px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 257px;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 39px;
  }

  .u-section-7 .u-image-1 {
    height: 13px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-2 {
    height: 13px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-3 {
    height: 13px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-4 {
    height: 13px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-5 {
    height: 13px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 297px;
    background-position: 50% 50%;
  }

  .u-section-7 .u-image-6 {
    height: 255px;
  }

  .u-section-7 .u-layout-cell-3 {
    background-position: 50% 50%;
    min-height: 297px;
  }

  .u-section-7 .u-layout-cell-4 {
    background-position: 50% 50%;
    min-height: 297px;
  }

  .u-section-7 .u-image-8 {
    height: 71px;
  }

  .u-section-7 .u-layout-cell-5 {
    background-position: 50% 50%;
    min-height: 297px;
  }

  .u-section-7 .u-image-9 {
    height: 136px;
    width: 157px;
  }

  .u-section-7 .u-layout-cell-6 {
    min-height: 297px;
  }

  .u-section-7 .u-image-10 {
    width: 157px;
    height: 157px;
  }

  .u-section-7 .u-layout-cell-7 {
    min-height: 297px;
  }

  .u-section-7 .u-image-11 {
    width: 157px;
    height: 101px;
  }

  .u-section-7 .u-layout-cell-8 {
    min-height: 297px;
  }

  .u-section-7 .u-image-12 {
    inset: auto;
    width: 157px;
    height: 154px;
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-9 {
    min-height: 297px;
  }

  .u-section-7 .u-image-13 {
    height: 157px;
    width: 157px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 2259px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.666666666666667px));
    min-height: 115px;
  }

  .u-section-7 .u-image-1 {
    height: 8px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-2 {
    height: 8px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-3 {
    height: 8px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-4 {
    height: 8px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-5 {
    height: 8px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 227px;
  }

  .u-section-7 .u-image-6 {
    height: 195px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 227px;
  }

  .u-section-7 .u-image-7 {
    width: 300px;
    height: 193px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 227px;
  }

  .u-section-7 .u-image-8 {
    height: 50px;
  }

  .u-section-7 .u-layout-cell-5 {
    min-height: 682px;
  }

  .u-section-7 .u-layout-cell-6 {
    min-height: 682px;
  }

  .u-section-7 .u-layout-cell-7 {
    min-height: 682px;
  }

  .u-section-7 .u-layout-cell-8 {
    min-height: 682px;
  }

  .u-section-7 .u-layout-cell-9 {
    min-height: 682px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 4844px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 267px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-1 {
    height: 44px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-2 {
    height: 44px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-3 {
    height: 44px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-4 {
    height: 44px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-5 {
    height: 44px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 294px;
  }

  .u-section-7 .u-image-6 {
    height: 439px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 294px;
  }

  .u-section-7 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 511px;
  }

  .u-section-7 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-8 {
    height: 144px;
  }

  .u-section-7 .u-layout-cell-5 {
    min-height: 1023px;
  }

  .u-section-7 .u-layout-cell-6 {
    min-height: 1023px;
  }

  .u-section-7 .u-layout-cell-7 {
    min-height: 1023px;
  }

  .u-section-7 .u-layout-cell-8 {
    min-height: 1023px;
  }

  .u-section-7 .u-layout-cell-9 {
    min-height: 1023px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 3122px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 185px;
  }

  .u-section-7 .u-image-6 {
    height: 276px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 185px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 322px;
  }

  .u-section-7 .u-image-8 {
    height: 89px;
  }

  .u-section-7 .u-layout-cell-5 {
    min-height: 644px;
  }

  .u-section-7 .u-layout-cell-6 {
    min-height: 644px;
  }

  .u-section-7 .u-layout-cell-7 {
    min-height: 644px;
  }

  .u-section-7 .u-layout-cell-8 {
    min-height: 644px;
  }

  .u-section-7 .u-layout-cell-9 {
    min-height: 644px;
  }
} .u-section-8 {
  background-image: url("images/image-par-defaut-acteur.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-sheet-1 {
  min-height: 664px;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  margin: 79px 69px 0;
}

.u-section-8 .u-text-2 {
  font-size: 1.25rem;
  margin: 69px 0 60px 570px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 571px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-8 .u-text-2 {
    margin-left: 470px;
  }
}

@media (max-width: 991px) {
   .u-section-8 {
    background-position: 0% 40.08%;
    background-size: 125%;
  }

  .u-section-8 .u-text-2 {
    margin-left: 250px;
  }
}

@media (max-width: 767px) {
   .u-section-8 {
    background-position: 23.67% 42.79%;
    background-size: auto 125%;
  }

  .u-section-8 .u-sheet-1 {
    min-height: 492px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-right: 190px;
  }

  .u-section-8 .u-text-2 {
    font-size: 1rem;
    width: auto;
    margin-right: 145px;
    margin-left: 70px;
  }
}

@media (max-width: 575px) {
   .u-section-8 {
    background-position: 45.45% 41.07%;
  }

  .u-section-8 .u-sheet-1 {
    min-height: 387px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 125px;
    margin-right: 58px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-9 {
  min-height: 711px;
}

.u-section-9 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-9 .u-shape-1 {
  height: 193px;
  background-image: none;
  margin-top: 202px;
  margin-bottom: 0;
}

.u-section-9 .u-list-1 {
  grid-template-rows: repeat(2, auto);
  width: 1140px;
  margin: -299px auto 60px;
}

.u-section-9 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 1228px;
  grid-gap: 30px;
}

.u-section-9 .u-container-layout-1 {
  padding: 20px;
}

.u-section-9 .u-image-1 {
  width: 195px;
  height: 195px;
  background-image: url("images/logo-WWF.jpg");
  background-position: 50% 100%;
  margin: 10px 70px 0 55px;
}

.u-section-9 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 18px auto 0;
}

.u-section-9 .u-text-3 {
  margin: 10px 0 0;
}

.u-section-9 .u-list-item-2 {
  background-image: none;
}

.u-section-9 .u-container-layout-2 {
  padding: 20px;
}

.u-section-9 .u-image-2 {
  width: 195px;
  height: 195px;
  object-position: 50% 0%;
  background-image: url("images/unnamed1.jpg");
  background-position: 50% 50%;
  margin: 10px 70px 0 55px;
}

.u-section-9 .u-text-4 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 18px auto 0;
}

.u-section-9 .u-text-5 {
  margin: 10px 0 0;
}

.u-section-9 .u-container-layout-3 {
  padding: 20px;
}

.u-section-9 .u-image-3 {
  width: 195px;
  height: 195px;
  background-image: url("images/ead4d428b35dcd3d7c9e9505e62987c4.jpg");
  background-position: 51.28% 50%;
  margin: 10px 70px 0 55px;
}

.u-section-9 .u-text-6 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 18px auto 0;
}

.u-section-9 .u-text-7 {
  margin: 10px 0 0;
}

.u-section-9 .u-container-layout-4 {
  padding: 20px;
}

.u-section-9 .u-image-4 {
  width: 195px;
  height: 195px;
  background-image: url("images/avatar.png");
  background-position: 50% 50%;
  margin: 10px 70px 0 55px;
}

.u-section-9 .u-text-8 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 18px auto 0;
}

.u-section-9 .u-text-9 {
  margin: 10px 0 0;
}

.u-section-9 .u-container-layout-5 {
  padding: 20px;
}

.u-section-9 .u-image-5 {
  width: 195px;
  height: 195px;
  background-image: url("images/amis-de-la-terre-tajerouine.png");
  background-position: 50% 50%;
  margin: 10px 70px 0 55px;
}

.u-section-9 .u-text-10 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 18px auto 0;
}

.u-section-9 .u-text-11 {
  margin: 10px 0 0;
}

.u-section-9 .u-container-layout-6 {
  padding: 20px;
}

.u-section-9 .u-image-6 {
  width: 195px;
  height: 195px;
  background-image: url("images/friends-of-the-earth-logo-font.png");
  background-position: 50% 50%;
  margin: 10px 70px 0 55px;
}

.u-section-9 .u-text-12 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 18px auto 0;
}

.u-section-9 .u-text-13 {
  margin: 10px 0 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-list-1 {
    width: 940px;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 1006px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-list-1 {
    width: 720px;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 1782px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-list-1 {
    width: 540px;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-9 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-9 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-9 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-text-1 {
    font-size: 2.23529rem;
  }

  .u-section-9 .u-list-1 {
    width: 340px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-9 .u-text-2 {
    font-size: 1.88235rem;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-9 .u-text-4 {
    font-size: 1.88235rem;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-9 .u-text-6 {
    font-size: 1.88235rem;
  }

  .u-section-9 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-9 .u-text-8 {
    font-size: 1.88235rem;
  }

  .u-section-9 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-9 .u-text-10 {
    font-size: 1.88235rem;
  }

  .u-section-9 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-9 .u-text-12 {
    font-size: 1.88235rem;
  }
}